@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  font-family: "Montserrat", sans-serif;
}

:root {
  --light-color: #ffffff;
  --bg-color: #000000;
  --josefin: "Josefin Sans", sans-serif;
  --mont: "Montserrat", sans-serif;
}

body {
  background-position: center;
  background-size: cover;
  background-image: url(/none-bg.png);
  background: var(--bg-color);
  color: white;
  color: black;
}
